<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinthanrk.readexcel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/asss"
        android:label="Маънавият атамалари"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".qollanishi"
            android:exported="false"
            android:label="Қўлланиши"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Manosi"
            android:label="Маъноси"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>